.container {
  img {
    border-radius: 50%;
    width: 300px;
    height: 200px;
  }
}
#lorem {
  font-size: 25px;
}
#smallcontainer {
  margin-top: 150px;
}
h1 {
  position: relative;
  top: 100px;
  z-index: -9;
}
