a {
  text-decoration: none;
  color: black;
}

body {
  background-color: white;
  /* &::-webkit-scrollbar */
  /* scrollbar-color: purple; */
}
.container {
  min-height: 100vh;
  .slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 196px 164px;
    width: 1272px;
    gap: 0px;
    opacity: 0px;
    .genres-place {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      margin: 2px;
      h2 {
        width: 30%;
        display: flex;
        justify-content: flex-start;
        letter-spacing: 2px;
        display: flex;
        gap: 0px;
        opacity: 0px;
        .genres-place{
            display: flex;
            justify-content: flex-start;
            width: 100%;
            margin: 2px;
            h2{
                width: 30%;
                display: flex;
                justify-content: flex-start;
                letter-spacing: 2px;
                display: flex;
                gap: 0px;
                opacity: 0px;
            }
            ul.genres{
                width: 40%;
                overflow-x: auto;
                overflow-wrap: 40px;
                display: flex;
                justify-content: flex-start;
                height: Fixed (26px)px;
                top: 208px;
                left: 615px;
                gap: 40px;
                opacity: 0px;
                li{
                    cursor: grab;
                    user-select: none;
                    padding: 2px;
                    a{
                        font-size: bolder;
                    }
                }
            }
        }
        .slider-wrapper{
            display: flex;
            align-items: center;
            .carousel{
                display: grid;
                grid-auto-flow: column;
                min-width: 500px;
                max-width: 1200px;
                height: 431px;
                grid-auto-columns: calc((100% / 5) - 12px);
                gap: 16px;
                overflow-x: hidden;
                scroll-behavior: smooth;
            }
            i{
                height: 100px;
                width: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 40px;
                cursor: pointer;
                color: #720418;
            }
      }
      ul.genres {
        width: 40%;
        overflow-x: auto;
        overflow-wrap: 40px;
        display: flex;
        justify-content: flex-start;
        height: Fixed (26px) px;
        top: 208px;
        left: 615px;
        gap: 40px;
        opacity: 0px;
        li {
          cursor: grab;
          user-select: none;
          padding: 2px;
          a {
            font-size: bolder;
          }
        }
      }
    }
    .slider-wrapper {
      display: flex;
      align-items: center;
      .carousel {
        display: grid;
        grid-auto-flow: column;
        /* width: 1272px; */
        height: 431px;
        grid-auto-columns: calc((100% / 5) - 12px);
        gap: 16px;
        overflow-x: hidden;
        scroll-behavior: smooth;
      }
      i {
        height: 100px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        cursor: pointer;
        color: #720418;
      }
    }
  }
}
.items {
  width: 193.58px;
  height: 332px;
  top: 295px;
  left: 461.42px;
  gap: 0px;
  opacity: 0px;
  list-style: none;
  /* background: #fff; */
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 4px 15px 0px #00000040;
  z-index: -10;
  .image {
    img {
      width: 134.23px;
      height: 190px;
      object-fit: cover;
      /* margin: 30px 50px; */
    }
  }
  h3 {
    font-size: 14px;
    line-height: 27.47px;
    font: Montserrat;
    font-weight: 700;
    font-family: Montserrat;
    line-height: 27.47px;
    text-align: left;
    color: #241400;
  }
  h5 {
    font: Montserrat;
    font-weight: 400;
    font-size: 12px;
    line-height: 23.54px;
    color: #241400;
  }
  button {
    width: 136px;
    height: 29px;
    gap: 0px;
    border-radius: 3px 0px 0px 0px;
    opacity: 0px;
    background: #ff8b00;
    color: #fff;
    box-shadow: 0px 3px 8px 0px #e16a0030;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button:hover {
    background: #d67703;
    color: #fff;
  }
}

.carousel.dragging .items {
  cursor: grab;
  user-select: none;
}

.new-releases,
.bestseller {
  width: 1272px;
  height: 431px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 400px;
  gap: 0px;
  opacity: 0px;
  .bestseller-items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    width: 1272px;
    height: 431px;
    gap: 16px;
    overflow: hidden;
    scroll-behavior: smooth;
  }
}
/* .new-releases {
  margin-top: 200px;
  .new {
    width: 47px;
    height: 14.62px;
    gap: 0px;
    opacity: 0px;
    background: red;
    font-family: Montserrat;
    font-size: 9px;
    font-weight: 900;
    line-height: 17.66px;
    text-align: left;
    background: #fff;
  }
} */
.new-releases{
    margin-top: 200px;
    .new-items{
        .items{
            /* position: relative; */
            .new{
                width: 38px;
                height: 20px;
                display: flex;
                justify-content: center;
                gap: 0px;
                opacity: 0px;
                background-color: red;
                font-size: 9px;
                font-weight: 900;
                line-height: 17.66px;
                text-align: left;
                position: absolute;
                margin-top: -300px;
                margin-left: -155px;
                color: white;
                /* top: 10px; */
            }
        }
    }
}
}