a{
    text-decoration: none;
    color: black;
}

main{
    background-color: red;
}
.container{
    .genres-place{
        margin: 2px;
        h4{
            letter-spacing: 2px;
        }
        ul{
            padding: 10px;
            li{
                a{
                    font-size: bolder;
                }
            }
        }
    }
}