* {
  font-family: Montserrat, sans-serif;
}

.body {
  background-color: #e1d9be;
}

.section-container {
  padding-right: 100px;
  padding-left: 100px;
}

h2 {
  margin-top: 10px;
}

h4 {
  margin: 10px 0;
}

div .first {
  width: 100px;
  height: 29px;
  background-color: #E16A00;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 900;
  /* line-height: 23.54px; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
}

div .second {
  width: 69px;
  height: 23px;
  background-color: #2F80ED;
  color: white;
  border-radius: 3px;
  border: none;
  margin-top: 50px;
  font-size: 12px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-side img {
  width: 379px;
  height: 529px;
}

.left-right {
  display: flex;
  margin-top: 150px;
}

p {
  font-weight: 400;
  font-size: 12px;
}

.firstp {
  font-size: 22px;
  font-weight: 400;
}

.secondp {
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  margin-top: 10px;
  margin-right: 100px;
}

.more {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
}

.comment-container {
  margin-top: 200px;
  width: 420px;
}

.form-details {
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  position: relative;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);
  border-radius: 5px;
  width: 550px;
}

.text-input {
  height: 60px;
  padding: 15px 75px 15px 15px;
  outline: none;
  border: none;
  width: 100%;
}

.formButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  border: none;
  background-color: #E16A00;
  position: absolute;
  right: 0;
  border-radius: 5px;
}