main {
  font-family: "Montserrat";
  display: flex;
  gap: 80px;
  .searchSection {
    padding-left: 150px;
    padding-top: 200px;
    h2 {
      font-size: 40px;
      padding-bottom: 20px;
    }
    button {
      background-color: #dd7a00;
      height: 50px;
      width: 350px;
      font-size: 20px;
      color: #fff;
      outline: none;
      border: none;
    }
    input {
      height: 50px;
      width: 350px;
      font-size: 20px;
      text-indent: 10px;
      outline: none;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }
}


